:root.theme-light {
  --page-bg-image: url(../images/cover-image-light.png);
  --page-bg-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --focus-color: #ffc2e6;
  --header-paragraph-color: #353430;
  --paragraph-text-color: #353430;
  --header-color: #353430;
  --header-button-hover-color: rgb(50, 49, 45, 0.4);
  --main-title-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-image: url(../images/cover-image-light.png);
    --page-bg-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --focus-color: #ffc2e6;
    --header-paragraph-color: #353430;
    --paragraph-text-color: #353430;
    --header-color: #353430;
    --header-button-hover-color: rgb(50, 49, 45, 0.4);
    --main-title-color: #353430;
  }

  .theme-auto .header__rec-indicator {
    visibility: hidden;
  }
}
