.page {
  min-height: 100vh;
  background: var(--page-bg-color) var(--page-bg-image) center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: var(--general-padding);
}

.decorated-zone {
  position: relative;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  min-height: var(--header-min-height);
}

.header__rec-indicator {
  position: absolute;
  right: var(--rec-indicator-right-position);
  grid-row: 1;
  align-self: start;
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  line-height: 25px;
}

.header__rec-indicator::after {
  content: "";
  display: inline-block;
  margin-left: var(--gap);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  grid-row: 1;
  justify-self: end;
  gap: var(--gap);
  margin-top: var(--margin-top-themes-list);
  padding: 0;
  list-style: none;
}

.header__theme-menu-button {
  justify-content: center;
  align-content: center;
  width: 70px;
  height: 26px;
  border: none;
  padding: 1.5px 13px 1.5px 13px;
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  line-height: 18px;
  text-transform: lowercase;
  background: none;
}

.header__theme-menu-button:hover {
  border: 1px solid rgb(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: underline;
  text-underline-offset: 1px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: var(--general-padding);
  left: var(--general-padding);
  border-top: none;
  border-right: none;
}

.header__title {
  align-self: center;
  color: var(--focus-color);
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
  font-size: var(--focus-font-size);
  line-height: 0.825;
  text-shadow: 4px 4px var(--accent-color);
}

.header__paragraph {
  grid-row: 3;
  align-self: end;
  margin-bottom: 56px;
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.title-decor {
  display: inline-block;
  color: var(--header-paragraph-color);
  font-family: var(--main-font), sans-serif;
  background-color: var(--accent-color);
}

.main {
  margin-top: 40px;
  font-family: var(--main-font), sans-serif;
  line-height: var(--main-line-height);
}

.main__article {
  margin-bottom: var(--margin-article);
}

.main__article-title {
  margin-bottom: var(--margin-article-title);
  color: var(--accent-color);
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font-size);
}

.main__paragraph-title {
  display: block;
  margin-bottom: var(--gap);
  font-size: var(--main-font-size);
}

.main__paragraph-title-big-margin {
  margin-bottom: var(--margin-article-title);
}

.main__paragraph-subtitle {
  display: block;
  margin-bottom: var(--gap);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
}

.main__paragraph {
  color: var(--paragraph-color);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
}

.card {
  margin-bottom: var(--margin-paragraph);
}

.main__paragraph:last-child {
  margin-bottom: 0;
}

.main__paragraph-link {
  text-decoration: none;
  text-shadow: var(--paragraph-link-shadow);
}

.main__paragraph-link:hover {
  text-decoration: underline;
}

.main__paragraph-link:focus-visible {
  outline: 1px solid #f1b2ce;
}

.main__galery-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.main_img {
  display: block;
  width: 100%;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100vh;
  min-height: 667px;
  margin-top: 40px;
}

.footer__title {
  color: var(--focus-color);
  font-family: var(--main-font);
  font-size: var(--focus-font-size);
  text-shadow: 2px 2px var(--accent-color);
}

@media (width >= 768px) {
  :root {
    --general-padding: 20px;
    --header-min-height: 768px;
    --rec-indicator-right-position: 29px;
    --margin-top-themes-list: 172px;
  }

  .header__title {
    position: absolute;
    justify-self: left;
  }

  .header__paragraph {
    justify-self: right;
    width: 364px;
    height: 117px;
  }

  .main__article-in-columns {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto;   
    gap: var(--general-padding);
  }

  .main__paragraph-title, .main__paragraph, .main__paragraph-subtitle { /*ПОФИКСИТЬ ГРИДЫ*/
    grid-column: 2;
  }
}

@media (width >= 1024px) {
}
