.page {
  min-height: 100vh;
  background-color: var(--page-bg-color);
  background-image: var(--page-bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.header {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  min-height: var(--header-footer-min-height);
  padding: var(--general-padding);
}

.header__rec-indicator {
  position: absolute;
  right: var(--rec-indicator-position);
  align-self: start;
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  line-height: 25px;
}

.header__rec-indicator::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  grid-row: 1;
  justify-self: end;
  gap: var(--gap);
  margin-top: var(--margin-top-themes-list);
  padding: 0;
  list-style: none;
}

.header__theme-menu-button {
  justify-content: center;
  align-content: center;
  width: 70px;
  height: 26px;
  border: none;
  padding: 1.5px 13px 1.5px 13px;
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  line-height: 18px;
  text-transform: lowercase;
  background: none;
}

.header__theme-menu-button:hover {
  border: 1px solid rgb(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: underline;
  text-underline-offset: 1px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-zone::before {
  right: var(--corner-position);
  top: var(--corner-position);
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: var(--general-padding);
  left: var(--general-padding);
  border-top: none;
  border-right: none;
}

.header__title {
  align-self: center;
  color: var(--focus-color);
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
  font-size: var(--focus-font-size);
  line-height: 0.825;
  text-shadow: 4px 4px var(--accent-color);
}

.header__paragraph {
  grid-row: 3;
  align-self: end;
  margin-bottom: 56px;
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.title-decor {
  display: inline-block;
  color: var(--header-paragraph-color);
  font-family: var(--main-font), sans-serif;
  background-color: var(--accent-color);
}

.main {
  padding-right: var(--general-padding);
  padding-left: var(--general-padding);
  padding-top: 0;
  margin-top: var(--margintop-main);
  font-family: var(--main-font), sans-serif;
  line-height: var(--main-line-height);
}

.main__section {
  margin-bottom: var(--margin-section);
}

.main__section-title {
  margin-bottom: var(--margin-section-title);
  color: var(--accent-color);
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font-size);
}

.main__paragraph-title {
  display: block;
  margin-bottom: var(--gap);
  font-size: var(--main-font-size);
}

.main__paragraph-title-big-margin {
  margin-bottom: var(--margin-section-title);
}

.main__paragraph-subtitle {
  display: block;
  margin-bottom: var(--gap);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
}

.main__paragraph {
  color: var(--paragraph-text-color);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
}

.text-group {
  margin-bottom: var(--margin-paragraph);
}

.main__paragraph:last-child {
  margin-bottom: 0;
}

.main__paragraph-link {
  text-decoration: none;
  text-shadow: var(--paragraph-link-shadow);
}

.main__paragraph-link:hover {
  text-decoration: underline;
}

.main__paragraph-link:focus-visible {
  outline: 1px solid #f1b2ce;
}

.main__galery-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.main_img {
  display: block;
  width: 100%;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100vh;
  min-height: var(--header-footer-min-height);
  margin-top: var(--marin-footer);
}

.footer__title {
  color: var(--focus-color);
  font-family: var(--main-font);
  font-size: var(--focus-font-size);
  text-shadow: 2px 2px var(--accent-color);
}

@media (width >= 768px) {
  :root {
    --corner-position: 20px;
    --general-padding: 20px;
    --header-footer-min-height: 1024px;
    --rec-indicator-right-position: 29px;
    --margin-top-themes-list: 172px;
    --rec-indicator-position: 30px;
    --margintop-main: 60px;
    --margin-section: 80px;
    --marin-footer: 60px;
  }

  .header__title {
    margin-left: -20px;
    justify-self: left;
  }

  .header__paragraph {
    margin-bottom: 163px;
    justify-self: right;
    align-self: end;
    width: 364px;
    height: 117px;
  }

  .section-why, .section-how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .main__paragraph-title {
    grid-column: 1;
  }
  
  .section-why .text-group,
  .section-how .text-group {
    margin-bottom: 0;
    grid-column: 2;
  }

  .section-title-what {
    width: 236px;
  }


  .main__galery-list {
    display: grid;
    gap: var(--general-padding);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
      "img-sunset img-sunset img-food"
      "img-tape img-book img-food"
      "img-tape img-street img-street";
  }

  .main__galery-list-item {
    overflow: hidden;
  }

  .main_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-sunset {
    grid-area: img-sunset;
  }

  .img-food {
    grid-area: img-food;
  }

  .img-tape {
    grid-area: img-tape;
  }

  .img-book {
    grid-area: img-book;
  }

  .img-street {
    grid-area: img-street;
  }

  .galery-title {
    margin-bottom: 20px;
  }
}

@media (width >= 1024px) {
}