/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /*page*/
  --page-bg-image: url(../images/cover-image-dark.png);
  --page-bg-color: #000028;
  /*fonts*/
  --main-font: "IBM Plex mono";
  --main-font-size: 18px;
  --main-font-weight: normal;
  --bold-font-weight: bold;
  --main-line-height: 23.4px;
  --focus-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  /*gaps, paddings and margins*/
  --gap: 10px;
  --general-padding: 10px;
  --margin-top-themes-list: 65px;
  --margintop-main: 40px;
  --margin-section: 50px;
  --margin-section-title: 20px;
  --margin-paragraph: 20px;
  --marin-footer: 40px;
  /*colors*/
  --accent-color: #ff0070;
  --focus-color: #db00ff;
  --header-paragraph-color: #000028;
  --paragraph-text-color: #F1B2CE;
  /*general*/
  --header-footer-min-height: 668px;
  --rec-indicator-position: 20px;
  --paragraph-link-shadow: 2px 2px var(--accent-color);
  --corner-position: 10px;
  
 


  
}
